<div class="wrapper">
  <header>
    <h2 class="page-header">Experienced & Multi-Talented</h2>
    <div class="seperator"></div>
    <p class="header-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt velit, ut quos exercitationem enim deleniti quidem dolores.
  </header>

  <section>
    <div class="cards">

      <div class="card">
        <div class="card-header">
          <%= image_tag("info.png", class:"info-small") %>
        </div>  
        <div class="card-text">
          <p class="block-white">BLOCK</p>
          <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> 
          <%= image_tag("plus.png", class:"plus-small")  %>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <%= image_tag("info.png", class:"info-small") %>
        </div>  
        <div class="card-text">
          <p class="block-white">BLOCK</p>
          <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> 
          <%= image_tag("plus.png", class:"plus-small")  %>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <%= image_tag("info.png", class:"info-small") %>
        </div>  
        <div class="card-text">
          <p class="block-white">BLOCK</p>
          <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> 
          <%= image_tag("plus.png", class:"plus-small")  %>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <%= image_tag("info.png", class:"info-small") %>
        </div>  
        <div class="card-text">
          <p class="block-white">BLOCK</p>
          <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> 
          <%= image_tag("plus.png", class:"plus-small")  %>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <%= image_tag("info.png", class:"info-small") %>
        </div>  
        <div class="card-text">
          <p class="block-white">BLOCK</p>
          <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> 
          <%= image_tag("plus.png", class:"plus-small")  %>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <%= image_tag("info.png", class:"info-small") %>
        </div>  
        <div class="card-text">
          <p class="block-white">BLOCK</p>
          <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> 
          <%= image_tag("plus.png", class:"plus-small")  %>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <%= image_tag("info.png", class:"info-small") %>
        </div>  
        <div class="card-text">
          <p class="block-white">BLOCK</p>
          <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> 
          <%= image_tag("plus.png", class:"plus-small")  %>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <%= image_tag("info.png", class:"info-small") %>
        </div>  
        <div class="card-text">
          <p class="block-white">BLOCK</p>
          <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> 
          <%= image_tag("minus.png", class:"plus-small")  %>
        </div>
      </div>
      
    </div>
  </section>
</div>
